.project {
  width: 100%;

  &__title {
    color: #fff;
    @include font-size(24);
    @include font-alpha();
    margin: 0 0 1em;
  }

  &__image {
    margin-bottom: 20px;
    width: 100%;
  }

  &__description {
    color: #fff;
    @include font-size(13);
    @include font-beta();

    p {
      margin: 0 0 1.5em;
    }
  }
}

@include breakpoint(medium) {
  .project {
    width: 50%;
  }
}
