// Use this file to import font's other than iconfonts. You can use fontsquirrel to create a font-face file

$alphaFont: 'Hoefler', 'Georgia', serif;
$betaFont: 'Georgia', serif;
$charlieFont: 'Helvetica', 'Arial', sans-serif;