.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  max-width: 640px;
  padding: 40px 40px 0;
}

.hero__heading {
  margin: 0 0 0.5em;
  padding: 0;
  color: #EC3F48;
  font-family: 'Cormorant Garamond', serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}

.hero__text {
  margin: 0;
  padding: 0;
  color: #1A1918;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.4;
}
