.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  max-width: 640px;
  padding: 60px 20px;

  &__heading {
    margin: 0 0 0.5em;
    padding: 0;
    color: color(customRed);
    @include font-size(28);
    @include font-alpha();
  }

  &__text {
    margin: 0;
    padding: 0;
    color: color(customBlack);
    @include font-size(13);
    @include font-beta();
  }
}

@include breakpoint(small) {
  .hero {
    padding: 60px 40px;

    &__heading {
      @include font-size(36);
    }
  }
}