html {
  box-sizing: border-box;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include font-size(16);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0 10px;
  color: color(customBlack);
  font-family: 'Roboto Mono', monospace;
  background-color: color(background);

  @include breakpoint(small) {
    padding: 0 20px;
  }
}

.main {
  position: relative;
  overflow: hidden;

  &__cta {
    display: none;

    @include breakpoint(small) {
      display: block;
      position: absolute;
      top: -3px;
      right: -3px;
    }
  }
}

.Page {
  position: relative;
  margin: 50px auto;
  padding: 0;
  max-width: 1440px;
  border: 3px solid color(customRed);

  @include breakpoint(medium) {
    margin: 60px auto;
  }
}

.btn-cta {
  padding: 20px 40px;
  color: #fff;
  font-family: $betaFont;
  font-weight: 500;
  line-height: 1;
  @include font-size(14);
  text-align: center;
  text-decoration: none;
  background-color: color(customRed);
  border: 3px solid color(customRed);
  transition: background-color 0.4s;

  &:hover {
    background-color: color(block);
    border: 3px solid color(customRed);
  }
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
}