@import "../../scss/settings.scss";

.technology {
  position: relative;

  &__text {
    color: color(customBlack);
    @include font-size(13);
    @include font-beta();
  }

  &__text p {
    max-width: 640px;
    margin: 0 0 1.5em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 0;
    max-width: 300px;
    list-style: none;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto 20px;
      height: 100px;
      width: 100%;
      font-family: $betaFont;
      @include font-size(14);
      font-weight: 500;
      line-height: 1;
      text-align: center;
      border: 2px solid #D9C8B8;
    }
  }
}

@include breakpoint(medium) {
  .technology {
    &__list {
      flex-direction: row;
      margin: 40px -10px;
      max-width: none;

      li {
        margin: 0 10px;
        width: calc(20% - 20px);
      }
    }
  }
}
