@import "./scss/settings.scss";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include font-size(16);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0 10px;
  color: color(customBlack);
  font-family: 'Roboto Mono', monospace;
  background-color: #E6D8CB;

  @include breakpoint(small) {
    padding: 0 20px;
  }
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
}
