body {
  margin: 0;
  padding: 0;
  color: #1A1918;
  font-family: 'Roboto Mono', monospace;
  background-color: #E6D8CB;
}

.super-heading {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0;
  margin: 0;
  color: #D9C8B8;
  font-family: 'Cormorant Garamond', serif;
  font-size: 160px;
  font-weight: 700;
  z-index: -1;
}

.technology {
  position: relative;
  padding: 195px 40px 60px;
}

.technology__text {
  color: #1A1918;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.4;
}

.technology__text p {
  max-width: 640px;
  margin: 0 0 1.5em;
}

.technology__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px -10px;
  padding: 0;
  list-style: none;
}

.technology__list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  height: 100px;
  width: calc(20% - 20px);
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  border: 2px solid #D9C8B8;
}

.contact {
  padding: 120px 40px;
  background-color: #1A1918;
}

.contact__heading {
  padding: 0;
  margin: 0 0 40px;
  color: #E6D8CB;
  font-family: 'Cormorant Garamond', serif;
  font-size: 86px;
  font-weight: 700;
  line-height: 1.1;
}

.contact__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact__text p {
  padding: 0;
  margin: 0;
  color: #E6D8CB;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.6;
  max-width: 600px;
}

.contact__cta {
  display: block;
  padding: 20px 40px;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: #EC3F48;
  border: 2px solid;
}
